@charset "utf-8";
/* CSS Document */

body { 
  /*background: url(pc-yellow.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerz {
background: #eb2328;
padding: 10px;
font-size: 18px;
color:#FFF;
}

.headera {
background: #09F;
padding: 10px;
font-size: 18px;
color:#FFF;
text-transform:uppercase;
}

.white-box { background:#FFF; padding: 10px;}


.sticky { 
color: #FFF;
background:#060;
position: fixed; 
bottom: 0;
left: 0;
right: 0;
height: 20px;
}

.footer { margin-top: 6px; }




/****************/
/***LOGIN CSS***/
/**************/

.login-box {
	height: 300px;
	width: 400px;
	border: 2px solid #FFF;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 14%;
	display: block;
	padding: 10px;
}

.login-logo {
	display:block;
	margin: 0 auto;
	height: 70px;
}

