@charset "utf-8";
/* CSS Document */

body { background-color: #efefef;}


.header-top { background-color:	#07749B; border-bottom: 1px solid #467C0F;}

.main { margin-top: 30px;}

.sidebar { background-color: #f6f6f6;
-webkit-box-shadow: 4px 4px 3px 0 #e0e0e0;
box-shadow: 4px 4px 3px 0 #e0e0e0;
padding: 5px;
}

.thumbpic { float:left; margin: 0px 10px 0px 0px;}


.box-content { background-color:#FFF;
-webkit-box-shadow: 4px 4px 3px 0 #e0e0e0;
box-shadow: 4px 4px 3px 0 #e0e0e0;
}

.greenback { background-color: #07749B; padding: 5px;}
.greenback h3 { margin:0; color: #FFF;}

.nav-stacked > li > a {
	color: #636363;
	font-size: 17px;
}
.nav-hover > li > a:hover{ background-color: #9ccc39; }

/**Bootstrap OVERRIDE**/
.nav-stacked{ margin-bottom: 0px !important;}
.stack-title { margin-top: -15px; margin-left: 25px;}
.badge { margin-top: -18px;}

.name { color: #636363; font-size: 12px;}
.username { color: #898989; font-size: 11px;}

.income	{ background-color: #fcfcfc; margin: 4px -4px; padding: 8px 4px 8px 15px;}
.income-title { color:#636363; font-size: 15px;}
.income-amount { font-weight:700; padding-left: 15px;}
.up-icon{ margin-top: -17px;}


.content-wrapper { padding: 10px;}
.dash-title { line-height:25px;}

.box-green { background-color: #A2BD2A;}
.box-yellow { background-color: #A7742B;}
.box-red { background-color: #EFBBBB;}
.boxes { margin-bottom: 10px;}
.boxes h1 { margin: 0px 0px 10px 0px; color:#FFF; font-size: 39px; padding: 10px; }
.box-title { font-size: 20px; color:#FFF; font-weight: 300;padding-left:10px; padding-bottom:10px;}

/****************/
/***LOGIN CSS***/
/**************/

.login-box {
	height: 100%;
	width: 350px;
	border: 1px solid #FFF;
	margin: 0 auto;
	margin-top: 5%;
	display: block;
	padding: 10px;
	background-color:#FFFFFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.login-box span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.login-logo {
	display:block;
	margin: 0 auto;
	/*height: 70px;*/
}

.topline { background-color:#157410; border-bottom: 4px solid #9ccc39; height: 35px;}

.sticky { 
color: #FFF;
background: #b5b5b5;
position: fixed; 
bottom: 0;
left: 0;
right: 0;
height: 20px;
}
.footer { margin-top: 6px; }











