@charset "utf-8";
/* CSS Document */

body { 
	background-color: #efefef;

	}


.new-header-top { 
	background: #2f3338 url("../../images/bg2.gif") repeat scroll 0 0;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  
	}

.new-sticky { 
color: #FFF;
background: #2f3338 url("../../images/bg2.gif") repeat scroll 0 0;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
height: 50px;
/*position:fixed;
bottom:0px;
left:0px;*/
margin-top: 150px;
}

.login-sticky { 
color: #FFF;
background: #2f3338 url("../../images/bg2.gif") repeat scroll 0 0;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
/*position:fixed;*/
/*bottom:0px;
left:0px;*/
height: 50px;
margin-top: 297px;
}

.new-footer { 
			margin-top: 15px;
			font-size: 10px;
			background: #2f3338 url("../../images/bg2.gif") repeat scroll 0 0;
			}

.new-row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0;
}

.new-nav-pills > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.new-nav-pills > li:hover{
  color:none;
}

.btn-itop:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #c2a000;
}

.btn-itop {
  background: #ebc200;
  border: 1px solid #c2a000;
  text-shadow: 0 1px 0 #c2a000;
  -webkit-transition: all 0.2s ease-in-out;
  color: #fff !important;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  margin: 0 10px 10px 0;
  padding: 0 15px;
  border-radius: 2px;
  font: 11px;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  line-height: 30px;
}

.vr
{
border-left: 2px solid gray;
padding-left:50px;
height: 100%;
}

.lvr
{
border-left: 2px solid gray;

height: 100%;
}

.table-new td{
    border-top-style: none;
}

.hed{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #ffffff !important;
  font-weight: bold;
  color: #333333 !important;
  border: none !important;
}

input[type="text"] {
  margin-left: 3em;
  padding: 5px 12px !important;
}
  
input[type="password"] {
  margin-left: 3em;
  padding: 5px 12px !important;
}
   
 
.ui-dialog, label, input, button, select, textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  padding: 5px 12px;
  margin-left: 3.5em;
}

.btn-warning {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #F2EB88;
  background-image: linear-gradient(to bottom, #F2EB88, #FFD721);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  margin-top: 2em;
  float: right;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  color: #ffffff;
  background-color: #FFD721;
}


.down7 {
  background: #FFFFEF;
  width: 14%;
  line-height: 2em !important;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #FF4000 !important;
  font-weight: bold !important;
  font-size: 14px !important;
  background-image: linear-gradient(to top, #F2EB88, #FFD721,#FFFFFF) !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #ffffff !important;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-bottom-color: #ffffff !important;
  background-repeat: repeat-x;
  border-radius: 25px;
  padding: 15px;
}


/*.form-horizontal .control-label {
  float: left;
  margin-left: -8em;
}*/

.ui-dialog{
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 1em 1em;
  color: #FFFFFF !important;
  
 }
 
 .ui-corner-all{
 	border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
 }
 
 .ui-widget-header{
 	background: #2f3338 !important;
 }
 
 .tdActive{
 	background: url("../../images/active.png") no-repeat center;
	background-size:78px 69px;
 	width: 78px;
 	height: 69px;
 }
 
.tdInactive{
 	background: url("../../images/inactive.png") no-repeat center;
 	background-size:78px 69px;
 	width: 78px;
 	height: 69px;
 }
 
 .table_active{
 	background: url("../../images/table_active.png") no-repeat center;
 	background-size:56px 72px;
 	width: 56px;
 	height: 72px;
 }
 
 .table_empty{
 	background: url("../../images/table_empty.png") no-repeat center;
 	background-size:56px 72px;
 	width: 56px;
 	height: 72px;
 }

.table_chart{
	
	
}

.new-login-box{
    margin-top: 9em;
    margin-left: 30em;
}
