@charset "utf-8";
/* CSS Document */

.navbar-inner {
	min-height: 40px; background:#F00;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
	background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
	background-image: -o-linear-gradient(top,#fff,#f2f2f2);
	background-image: linear-gradient(to bottom,#FF0000,#B90000);
	background-repeat: repeat-x;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	color: #FFF4BA;
	text-decoration: none;
	background-color: #970000;
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #FFF;
	background-color: #970000;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #FFF;
	text-decoration: none;
	text-shadow:none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #FFFFD9;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #B30000;
  background-image: -moz-linear-gradient(top, #C00, #B30000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C00), to(#B30000));
  background-image: -webkit-linear-gradient(top, #C00, #B30000);
  background-image: -o-linear-gradient(top, #C00, #B30000);
  background-image: linear-gradient(to bottom, #C00, #B30000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C00', endColorstr='#B30000', GradientType=0);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #C20000;
	background-image: -moz-linear-gradient(top,#C00,#B30000);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#C00),to(#B30000));
	background-image: -webkit-linear-gradient(top,#C00,#B30000);
	background-image: -o-linear-gradient(top,#C00,#B30000);
	background-image: linear-gradient(to bottom,#C00,#B30000);
	background-repeat: repeat-x;
	outline: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C00',endColorstr='#B30000',GradientType=0);
}


table thead tr {
	background: #FFFFFF;
	color: #09F;
}


